// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
  padding-left: 15px;
}
.task-wrapper{
  max-width: 100%;
  .task-container{
    ul{
      background-color: #efefef;
      border: solid 1px #cccccc;
      padding: 0.75em 0.5em 0 0.5em;
      li{
        cursor: pointer;
        list-style: none;
        position: relative;
        background-color: #ffffff;
        margin-bottom: 10px;
        padding: 2px 5px;
        p{
          margin-bottom: 0;
        }
        .delete{
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
          width: 15px;
          height: 16px;
          padding: 0;
          display: none;
        }
      }
      li:hover{
        .delete{
          display: block;
        }
      }
    }
  }
}
.window-overlay{
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  .popup{
    position: relative;
    background-color: white;
    width: 50%;
    margin-left: 25%;
    padding: 5px 10px;
    .close{
      position: absolute;
      top: 1px;
      right: 3px;
    }
  }
}
.tasks-new{
  width:90%;
  padding: 10px;
}